<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id = "mainspring" class = "trikampis.trik.triangleProgram" scope = "singleton">
		<constructor-arg index="0" ref="linijos_is_klaviaturos" /> 
   </bean>
   <bean id = "linijos" class = "trikampis.trik.Lines" scope = "singleton">
   </bean> 
   <bean id = "linijos_is_failo" class = "trikampis.trik.LinesFromFile" scope = "singleton">
   				<constructor-arg index="0" value="linijos.txt" />
   </bean>
   <bean id = "linijos_is_klaviaturos" class = "trikampis.trik.LinesFromInput" scope = "singleton">
   </bean>  
</beans>